@{
    ViewData["Title"] = "Registration confirmation";
}

<h1>@ViewData["Title"]</h1>
<br>
<br>
<br>
<h3>Your account was successfully created! 🎉</h3>
<p>You can now <a asp-area="Identity" asp-page="/Account/Login" class="links">Log in here</a>.</p>
