@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/friberglogo.png" class="logo" alt="Friberg Car Rentals Logo" style="max-width: 15%">
    <h1 class="display-4">Welcome</h1>
    <p>The home of truely unique vehicles - one of a kind. With our exclusive vehicles you are sure to turn heads and get attention.<br>
        Find something for every need you might have, from crossing the English channel to navigating the narrow streets of Rome in the worlds smallest car.
    </p>
</div>
