@page

@{
    ViewData["Title"] = "Registration confirmation";
}

<h1>@ViewData["Title"]</h1>
<br>
<br>
<br>
<p>Your account was successfully created. 🎉</p>
<p>You can now <a asp-controller="ApplicationUserVM" asp-action="Login">Log in</a>.</p>
